<nav class="navigation-mobile-ver">
  <button id="modal-btn"> <img src="{{ 'menu.png' | asset_url }}" /></button> 
  <div class="modal ">
    <div class="modal-header">
      <span class="close-btn"><img src="{{ 'renamex.png' | asset_url }}" /> </span>
    </div>
    <div id="menuMob" class="modal-content">
        <a href="#" class="centerimage"><img alt="logo" src="{{ 'getmsoffice_logo_6.svg' | asset_url }}" loading="lazy"></a>
       <div class="info-acct"> 
         <span><img id="mobile-cart-img" src="{{ 'accounts-mob.png' | asset_url }}"> Account</span>
         <span><i class="fa-solid fa-phone"></i> +1 888-565-9142</span> </div>
          
          <h5>Shop</h5>
          <ul class="nav-mob">
            <li class="nav-sub"><button id="submodalbtn">Microsoft Office</button>
                  <div class="submodal submodal-box">
                    <div class="modal-header">
                      <span class="subclose-btn left-btn-arrow"><img src="{{ 'arrowleft.png' | asset_url }}" /></span>
                    </div>
                    <div class="modal-content-sub">
                      <ul class="submodalbyms">
                        <li>
                          <a href="#" class="accordion-sub"><span class="sub-title-sec">Application</span></a>
                          <div class="panel"><ul class="sub-menu">
                            <li><a href="/collections/word">Word</a></li>
                            <li><a href="/collections/excel">Excel</a></li>
                            <li><a href="/collections/powerpoint">Powerpoint</a></li>
                            <li><a href="/collections/outlook">Outlook</a></li>
                            <li><a href="/collections/project">Project</a></li>
                            <li><a href="/collections/visio">Visio</a></li>
                            <li><a href="/collections/publisher">Publisher</a></li>
                            <li><a href="/collections/access">Access</a></li>
                          </ul> </div>     
                        </li>
                        <li><a href="#" class="accordion-sub"><span class="sub-title-sec">By Year</span></a>
                          <div class="panel"><ul class="sub-menu">
                            <li><a href="/collections/microsoft-office-2021">2021</a></li>
                            <li><a href="/collections/microsoft-office-2019">2019</a></li>
                            <li><a href="/collections/microsoft-office-2016">2016</a></li>
                            <li><a href="/collections/microsoft-office-2013">2013</a></li>
                            <li><a href="/collections/microsoft-office-2010">2010</a></li>
                          </ul></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                 
                
            </li>
            <li class="nav-sub"><button id="submodalbtntwo">Office For Mac</button>
              <div class="submodaltwo submodal-box">
                <div class="modal-header">
                  <span class="subclose-btntwo left-btn-arrow"><img src="{{ 'arrowleft.png' | asset_url }}" /></span>
                </div>
                <div class="modal-content-sub-two">
                  <ul class="submodalbyms">
                    <li><a href="#" class="accordion-sub"><span class="sub-title-sec">By Year</span></a>
                      <div class="panel"><ul class="sub-menu">
                        <li><a href="/collections/home-and-student-for-mac">Home &amp; Student</a></li>
                        <li><a href="/collections/home-and-business-for-mac">Home &amp; Business</a></li>
                        <li> <a href="/collections/microsoft-office">For PC</a></li>
                      </ul></div>
                    </li>
                    <li><a href="#" class="accordion-sub"><span class="sub-title-sec">Application</span></a>
                      <div class="panel"><ul class="sub-menu">
                        <li><a href="/collections/word">Word</a></li>
                        <li><a href="/collections/excel">Excel</a></li>
                        <li><a href="/collections/powerpoint">Powerpoint</a></li>
                        <li><a href="/collections/outlook">Outlook</a></li>
                      </ul></div>
                    </li>
                    <li><a href="#" class="accordion-sub"><span class="sub-title-sec">By Year</span></a>
                      <div class="panel"><ul class="sub-menu">
                        <li><a href="/collections/microsoft-office-2021-for-mac">2021</a></li>
                        <li><a href="/collections/microsoft-office-2019-for-mac">2019</a></li>
                        <li><a href="/collections/microsoft-office-2016-for-mac">2016</a></li>
                        <li><a href="/collections/microsoft-office-2011-for-mac">2011</a></li>
                      </ul></div>
                    </li>
                  </ul>
                </div>

              </div>
            </li>
            <li class="nav-sub"><button id="submodalbtnthree">Office Apps</button>
              <div class="submodalthree submodal-box ">
                <div class="modal-header">
                  <span class="subclose-btnthree left-btn-arrow"><img src="{{ 'arrowleft.png' | asset_url }}" /></span>
                </div>
                <div class="modal-content-sub">
                  <ul class="submodalbyms">
<!--                     <li><a href="#" class="accordion-sub"><span class="sub-title-sec">By Use</span></a>
                      <div class="panel"><ul class="sub-menu">
                        <li><a href="/collections/home-and-student-for-mac">Home &amp; Student</a></li>
                        <li><a href="/collections/home-and-business-for-mac">Home &amp; Business</a></li>
                        <li> <a href="/collections/microsoft-office">For PC</a></li>
                      </ul></div>
                    </li> -->
                    <li><a href="#" class="accordion-sub"><span class="sub-title-sec">By Software</span></a>
                      <div class="panel"><ul class="sub-menu">
                        <li><a href="/collections/word">Word</a></li>
                        <li><a href="/collections/excel">Excel</a></li>
                        <li><a href="/collections/powerpoint">Powerpoint</a></li>
                        <li><a href="/collections/outlook">Outlook</a></li>
                        <li><a href="/collections/project">Project</a></li>
                        <li><a href="/collections/visio">Visio</a></li>
                        <li><a href="/collections/publisher">Publisher</a></li>
                        <li><a href="/collections/access">Access</a></li>
                        <li><a href="/products/skype-for-business-server-2019">Skype</a></li>
                      </ul></div>
                    </li>
                  </ul>
                </div>

              </div>
            </li>
            <li class="nav-sub"><button id="submodalbtnfour">Windows</button>
              <div class="submodalfour submodal-box ">
                <div class="modal-header">
                  <span class="subclose-btnfour left-btn-arrow"><img src="{{ 'arrowleft.png' | asset_url }}" /></span>
                </div>
                <div class="modal-content-sub">
                  <ul class="submodalbyms">
                    <li><a href="#" class="accordion-sub"><span class="sub-title-sec">Windows</span></a>
                      <div class="panel"><ul class="sub-menu">
                        <li><a href="/collections/microsoft-windows-11">Windows 11</a></li>
                        <li><a href="/collections/windows-10">Windows 10</a></li>
                        <li><a href="/collections/windows-8">Windows 8</a></li>
                        <li><a href="/collections/windows-7">Windows 7</a></li>
                      </ul></div>
                    </li>
                    <li><a href="#" class="accordion-sub"><span class="sub-title-sec">Windows Server</span></a>
                      <div class="panel"><ul class="sub-menu">
                        <li><a href="/collections/windows-server-2022">Windows Server 2022</a></li>
                        <li><a href="/collections/windows-server-2019">Windows Server 2019</a></li>
                        <li><a href="/collections/windows-server-2016">Windows Server 2016</a></li>
                        <li><a href="/collections/windows-server-2012">Windows Server 2012</a></li>
                        <li><a href="/collections/windows-server-2008">Windows Server 2008</a></li>
                        <li><a href="/collections/windows-server-2012-r2">Windows Server 2012 R2</a></li>
                        <li><a href="/collections/windows-server-2008-r2">Windows Server 2008 R2</a></li>
                        <li><a href="/collections/windows-sql-server-2012">Windows SQL Server 2012</a></li>
                        <li><a href="/collections/windows-sql-server-2014">Windows SQL Server 2014</a></li>
                        <li><a href="/collections/windows-sql-server-2016">Windows SQL Server 2016</a></li>
                      </ul></div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-sub"><button id="submodalbtnfive">Antivirus</button>
              <div class="submodalfive submodal-box ">
                <div class="modal-header">
                  <span class="subclose-btnfive left-btn-arrow"><img src="{{ 'arrowleft.png' | asset_url }}" /></span>
                </div>
                <div class="modal-content-sub">
                  <ul class="submodalbyms">
                    <li><a href="#" class="accordion-sub"><span class="sub-title-sec">By Brand</span></a>
                      <div class="panel"><ul class="sub-menu">
                        <li><a href="/collections/antivirus-trend-micro">Trend Micro</a></li>
                        <li><a href="/collections/antivirus-symantec">Symantec</a></li>
                      </ul></div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-sub"><button class="otherbtn"><a href="/collections/others"">Others</a></button></li>
          </ul>
    
          <h5>Select Currency</h5>
          <button id="currencybtn" class="currency-btn">USD$</button>
          <div id="mycurrencymods" class="currencymods">
              <div class="currencymods-content">
                <span class="closebtn">&times;</span>
                 {% form 'currency' %}
                  <select name="currency">
                    {% for currency in shop.enabled_currencies %}
                      {% if currency == cart.currency %}
                        <option selected="true">
                          {{currency.iso_code}} {{currency.symbol}}</option>
                        {% else %}
                        <option>{{currency.iso_code}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  {% endform %}
              </div>
          </div>
        
    </div>
    </div>
</nav>


<script>
    let modalBtn = document.getElementById("modal-btn")
  let modal = document.querySelector(".modal")
  let closeBtn = document.querySelector(".close-btn")

  modalBtn.onclick = function(){
    modal.style.display = "block"
  }
  closeBtn.onclick = function(){
    modal.style.display = "none"
  }
  window.onclick = function(e){
    if(e.target == modal){
      modal.style.display = "none"
    }
  }
  
  let submodalBtn = document.getElementById("submodalbtn")
  let submodal = document.querySelector(".submodal")
  let subcloseBtn = document.querySelector(".subclose-btn")

  submodalBtn.onclick = function(){
    submodal.style.display = "block"
  }
  subcloseBtn.onclick = function(){
    submodal.style.display = "none"
  }
  window.onclick = function(e){
    if(e.target == submodal){
      submodal.style.display = "none"
    }
  }


  let submodalbtntwo = document.getElementById("submodalbtntwo")
  let submodaltwo = document.querySelector(".submodaltwo")
  let subcloseBtntwo = document.querySelector(".subclose-btntwo")

  submodalbtntwo.onclick = function(){
    submodaltwo.style.display = "block"
  }
  subcloseBtntwo.onclick = function(){
    submodaltwo.style.display = "none"
  }
  window.onclick = function(e){
    if(e.target == submodaltwo){
      submodaltwo.style.display = "none"
    }
  }


  let submodalbtnthree = document.getElementById("submodalbtnthree")
  let submodalthree = document.querySelector(".submodalthree")
  let subcloseBtnthree = document.querySelector(".subclose-btnthree")

  submodalbtnthree.onclick = function(){
    submodalthree.style.display = "block"
  }
  subcloseBtnthree.onclick = function(){
    submodalthree.style.display = "none"
  }
  window.onclick = function(e){
    if(e.target == submodalthree){
      submodalthree.style.display = "none"
    }
  }

  let submodalbtnfour = document.getElementById("submodalbtnfour")
  let submodalfour = document.querySelector(".submodalfour")
  let subcloseBtnfour = document.querySelector(".subclose-btnfour")

  submodalbtnfour.onclick = function(){
    submodalfour.style.display = "block"
  }
  subcloseBtnfour.onclick = function(){
    submodalfour.style.display = "none"
  }
  window.onclick = function(e){
    if(e.target == submodalfour){
      submodalfour.style.display = "none"
    }
  }

  let submodalbtnfive = document.getElementById("submodalbtnfive")
  let submodalfive = document.querySelector(".submodalfive")
  let subcloseBtnfive = document.querySelector(".subclose-btnfive")

  submodalbtnfive.onclick = function(){
    submodalfive.style.display = "block"
  }
  subcloseBtnfive.onclick = function(){
    submodalfive.style.display = "none"
  }
  window.onclick = function(e){
    if(e.target == submodalfive){
      submodalfive.style.display = "none"
    }
  }


  var acc = document.getElementsByClassName("accordion-sub");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }

var currencymods = document.getElementById("mycurrencymods");
var currencybtn = document.getElementById("currencybtn");
var closebtn = document.getElementsByClassName("closebtn")[0];
currencybtn.onclick = function() {
  currencymods.style.display = "block";
}
closebtn.onclick = function() {
  currencymods.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == currencymods) {
    currencymods.style.display = "none";
  }
}



</script>

