<section class="newsletter-middle product-newsletter">

    <h2 class="section-heading">Join Now & get Early Access to Our Exclusive Deals</h2>
     {% form 'customer' %}
       {{ form.errors | default_errors }}
       {% if form.posted_successfully? %}
         <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
       {% else %}
         <input type="hidden" name="contact[tags]" value="newsletter">
         <input type="email"
           name="contact[email]"
           id="Email"
           value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
           placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
           autocorrect="off"
           autocapitalize="off">
         <button type="submit" name="commit" id="Subscribe">
           <span>{{ 'general.newsletter_form.submit' | t }}</span>
         </button>
       {% endif %}
     {% endform %}
   </section>