<div class="container-lg center-block">
  <div class="large-margin">
<div class="pagination d-flex" style="margin-bottom: 140px;">

  <a href="{{ paginate.previous.url }}">
    <div class="linear-blue" style="width: 68px; height: 68px;">
      <div style="transform: rotate(-90deg);">{% include 'icon-white-arrow' %}</div>
    </div>
  </a>

  <div class="d-flex text-center" style="background-color: #F2F5F7; flex: 0 0 87.4%; justify-content: center;">
  {% for part in paginate.parts %}
         {% if part.is_link %}
             <a href="{{ part.url }}">
               <div style="width: 68px; height: 100%; padding-top: 40%;">
               <p class="light-blue">{{ part.title }}</p>
             </div>
           </a>
         {% else %}
           {% if part.title == paginate.current_page %}
             <div class="active" aria-current="page" style="width: 68px; height: 58%; padding-top: 3%; background-color: #C2D1D9;">
               <p class="dark-blue"><b>{{ part.title }}</b></p></div>
           {% else %}
             <span>{{ part.title }}</span>
           {% endif %}
         {% endif %}
       {% endfor %}
  </div>

  <a href="{{ paginate.next.url }}">
    <div class="linear-blue" style="width: 68px; height: 68px;">
        <div style="transform-origin: 12% 211%; transform: rotate(90deg);">{% include 'icon-white-arrow' %}</div>
    </div>
  </a>
</diV>
</div>
</div>
