<div id="star-rating" class="d-flex">
<img class="blue-star" src="{{ 'yellow-star.png' | asset_img_url: 'master' }}">
<img class="blue-star" src="{{ 'yellow-star.png' | asset_img_url: 'master' }}">
<img class="blue-star" src="{{ 'yellow-star.png' | asset_img_url: 'master' }}">
<img class="blue-star" src="{{ 'yellow-star.png' | asset_img_url: 'master' }}">
<img class="blue-star" src="{{ 'yellow-star.png' | asset_img_url: 'master' }}">
</div>
