<section class="account-container  light-grey">
  <div class="container-lg center-block">
  <div class="large-margin">

    <ul class="d-flex">

      <li class="desktop-only" style="flex: 0 0 50%;">
        <div class="bg-cover no-repeat desktop-only" style="flex: 0 0 60.7%; background-image: url('{{ 'reset-pw-bg.png' | asset_img_url: 'master' }}');
        box-sizing: border-box; padding-top: 458px; padding-left: 68px; padding-bottom: 60px;">
          <div style="width: 488px;">
            <h2 class="white-font" style="font-size: 300; margin-bottom: 15px;">Reset Password</h2>
            <p class="white-font">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
          </div>
        </div>
      </li>

      <li id="forgetForm" class="white-bg">
        <div class="center-block" style="width: 322px;">

                  {% form 'reset_customer_password' %}

                    {% if form.errors %}
                      <div class="form-message form-message--error">
                        {{ form.errors | default_errors }}
                      </div>
                    {% endif %}

                    <img src="{{ 'sdepotlogo.svg' | asset_url }}" class="center-block desktop-only"
                    style="height: 35px; margin-bottom: 98px;">

                    <h4 class="dark-blue text-center mobile-only" style="font-size: 24px; line-height: 35px; margin-bottom: 24px;">Reset Password</h4>
                    <p class="text-center mobile-only" style="padding: 0 10%; margin-bottom: 24px; line-height: 25px;">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

                    <label for="ResetPassword light-grey-font">{{ 'customer.reset_password.password' | t }}</label>
                    <input type="password" value="" name="customer[password]" id="ResetPassword"
                    class="{% if form.errors contains 'password' %} input--error{% endif %} center-block"
                    style="display: block; width: 100%; height: 44px; border-bottom: 1px solid #F5F6F9; font-size: 16px; margin-bottom: 50px;">

                    <label for="PasswordConfirmation light-grey-font">{{ 'customer.reset_password.password_confirm' | t }}</label>
                    <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation"
                    class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %} center-block"
                    style="display: block; width: 100%; height: 44px; border-bottom: 1px solid #F5F6F9; font-size: 16px; margin-bottom: 50px;">

                    <input type="submit" class="pbutton linear-orange" value="{{ 'customer.reset_password.submit' | t }}" style="width: 100%;">
                  {% endform %}

        </div>
      </li>

    </ul>

</div>
</div>
</section>
