<section class="list-collection-container">
<div class="container-lg center-block">
<div class="large-margin">

<h3 class="desktop-only" style="margin-top: -16px; margin-bottom: 48px">Products</h3>

<h3 class="mobile-only" style="margin-top: -16px; margin-bottom: 26px; margin-left: 22px;">Shop by category</h3>

<div class="d-flex space-between list-collection" style="flex-wrap: wrap;">

    <div style="flex: 0 0 48%;">
        <div class="collection-list-item text-center lazy" style="background-image: url('{{ 'office2019-bg.png' | asset_img_url: 'master' }}')">
          <h1 class="white-font">Office 2019</h1>
          <h4 class="white-font" style="margin-top: 12px;">Mac & Pc</h4>
          <a href="/collections/microsoft-office-2019">
            <button class="pbutton linear-orange center-block" style="margin-top: 296px;">EXPLORE</button></a>
        </div>
    </div>

    <div style="flex: 0 0 48%;">
      <div class="collection-list-item text-center lazy" style="background-image: url('{{ 'office-2016.png' | asset_img_url: 'master' }}')">
        <h1 class="white-font">Office 2016</h1>
        <h4 class="white-font" style="margin-top: 12px;">Mac & Pc</h4>
        <a href="/collections/microsoft-office-2016">
          <button class="pbutton linear-orange center-block" style="margin-top: 296px;">EXPLORE</button>
        </a>
      </div>
    </div>

    <div style="flex: 0 0 48%;">
      <div class="collection-list-item text-center lazy" style="background-image: url('{{ 'office-for-mac-bg.png' | asset_img_url: 'master' }}')">
        <h1 class="dark-blue">Office for Mac</h1>
        <a href="/collections/microsoft-office-for-mac">
          <button class="pbutton linear-orange center-block" style="margin-top: 336px;">EXPLORE</button>
        </a>
      </div>
    </div>

    <div style="flex: 0 0 48%;">
      <div class="collection-list-item text-center lazy" style="background-image: url('{{ 'apps-bg.png' | asset_img_url: 'master' }}')">
        <h1 class="white-font">Office Apps</h1>
        <h4 class="white-font" style="margin-top: 12px; line-height: 35px;">Looking for simple?<br>Buy only what you need.</h4>
        <a href="/collections/office-apps">
          <button class="pbutton linear-orange center-block" style="margin-top: 254px;">EXPLORE</button>
        </a>
      </div>
    </div>

    <div style="flex: 0 0 48%;">
      <div class="collection-list-item text-center lazy" style="background-image: url('{{ 'windows-10.png' | asset_img_url: 'master' }}')">
        <h1 class="white-font">Windows 10</h1>
        <h4 class="white-font" style="margin-top: 12px; line-height: 35px;">Enjoy the latest Windows 10<br>features and with the best price</h4>
        <a href="/collections/windows-10">
          <button class="pbutton linear-orange center-block" style="margin-top: 254px;">EXPLORE</button>
        </a>
      </div>
    </div>

    <div style="flex: 0 0 48%;">
      <div class="collection-list-item text-center lazy" style="background-image: url('{{ 'windows-server.png' | asset_img_url: 'master' }}')">
        <h1 class="white-font">Windows Server</h1>
        <h4 class="white-font" style="margin-top: 12px; line-height: 35px;">Build your future<br>with Windows Server</h4>
        <a href="/collections/windows-server">
          <button class="pbutton linear-orange center-block" style="margin-top: 254px;">EXPLORE</button>
        </a>
      </div>
    </div>

    <div style="flex: 0 0 48%;">
      <div class="collection-list-item text-center lazy" style="background-image: url('{{ 'antivirus-bg.png' | asset_img_url: 'master' }}')">
      <h1 class="white-font">Antivirus</h1>
      <h4 class="white-font" style="margin-top: 12px; line-height: 35px;">Mac & Pc</h4>
      <a href="/collections/antivirus">
      <button class="pbutton linear-orange center-block" style="margin-top: 296px;">EXPLORE</button>
      </a>
      </div>
    </div>

    {% comment %}

    <div style="flex: 0 0 48%;">
    <div class="collection-list-item text-center" style="background-image: url('{{ 'office-365.png' | asset_img_url: 'master' }}')">
    <h1 class="white-font">Office 365</h1>
    <h4 class="white-font" style="margin-top: 12px; line-height: 35px;">Mac & Pc</h4>
    <a href="">
    <button class="pbutton linear-blue center-block desktop-only" style="margin-top: 296px;">EXPLORE</button>
    <a href="" class="white-font underline mobile-only mobile-only" style="margin-top: 148px;">Shop now</a>
    </a>
    </div>
    </div>

    {% endcomment %}


</div>
</div>
</section>

<div class="desktop-only">{% include 'newsletter-subscription' %}</div>
