<section class="container-lg center-block">

  <h2 class="dark-blue mobile-only" style="font-size: 32px; padding-left: 42px;">About<br/>GetMsOffice</h2>

  <div class="bg-cover lazy mobile-only" style="background-image: url('{{ 'about-banner.png' | asset_img_url: 'master' }}');
  height: 250px; background-position-x: 60%; margin-top: 36px; margin-bottom: 40px;"></div>

  <div class="large-margin">

    <div>
      <h2 class="dark-blue desktop-only">{{ page.title }}</h2>
      <img src="{{ 'about-banner.png' | asset_img_url: 'master' }}" loading="lazy" class="desktop-only" style="margin-top: 45px; margin-bottom: 40px;">

      <h4 class="dark-blue" style="margin-bottom: 15px;">Wide Range of Products</h4>
      <p class="sm-font" style="line-height: 30px;">We have everything you need for your computer -
        from Windows operating systems, Microsoft Office Suites, Office applications,
        as well as Internet security and anti-virus software.
        We understand fully that ensuring your computer system runs smoothly and securely should be given top priority without compromising your budget,
        because we expect nothing less for ourselves.</p>

      <br/><br/>

      <h4 class="dark-blue" style="margin-bottom: 15px;">Quality over Quantity</h4>
      <p class="sm-font" style="line-height: 30px;">Purchasing quality products should not mean sacrificing your bank account,
        which is why we offer only digital copies of our software to save you money.
        No shipping and handling fees, no travel costs, no waiting in line at a retail store.
        Our online shop is open all day, every day,
        so you can purchase the software you need from the comfort of your home computer or your mobile device.</p>

      <br/><br/>

        <h4 class="dark-blue" style="margin-bottom: 15px;">Deals and Discounts</h4>
        <p class="sm-font" style="line-height: 30px;">Aside from our existing low prices,
          we feature monthly sales and discount promotions for our customers.
          We also provide discounts for bulk orders and offer a competitor price match advantage; simply reach out to us with a link to a competitor's product and price and we'll work with you to find you the right product and price from our line.
          We can beat prices by as much as 5%.</p>

      <br/><br/>

        <h4 class="dark-blue" style="margin-bottom: 15px;">Excellent Service</h4>
        <p class="sm-font" style="line-height: 30px;">Our customer support service doesn't end when you make a purchase.
          We want to assist you all the way – from choosing the right software to making sure it runs well on your machine.
          For any questions or concerns about your product,
          we are available during business hours through Livechat, phone, and email.</p>

        </div>

        <!-----##### Microsoft Certified Partner #####----->

          <div class="relative desktop-only" style="margin: 75px 0;">
            <img class="absolute" src="{{ 'mcp-rectangle.png' | asset_img_url: 'master' }}" loading="lazy" style="margin-top: 6.8%;">
            <div class="light-grey" style="margin-left: auto; margin-right: 0; width: 830px; height: 575px;">
              <div class="center-block relative" style="width: 466px; padding-left: 25px;">
                <div class="absolute" style="top: -36px;">
                <h2 class="dark-blue" style="font-size: 42px; margin-bottom: 90px;">Microsoft Certified Partner</h2>
                <p class="sm-font" style="line-height: 35px;">GetMsOffice is a Microsoft Certified Partner.
                  What does that mean for you, our valued customer?
                  It means that we sell genuine Microsoft products and that you have the full backing that comes with owning genuine Microsoft products.
                  It also means that Microsoft has certified that we are official,
                  trustworthy, and recommended sellers of Microsoft products and services.
                  For this reason, you can trust GetMsOffice with all of your Microsoft purchases,
                  secure in the knowledge that we have partnered with Microsoft to bring you the best prices on genuine Microsoft products.</p>
                </div>
              </div>
            </div>
          </div>

          <!-----##### Trust GetMsOffice #####----->

          <div class="d-flex space-between flex-wrap desktop-only" style="margin-bottom: 220px;">

              <h1 class="dark-blue desktop-only"
              style="flex: 0 0 48%; font-size: 64px; line-height: 90px;">
              Trust GetMsOffice for the Best Software and Service Anywhere</h1>

              <p class="sm-font desktop-only" style="flex: 0 0 48%; line-height: 35px;">GetMsOffice goes even further.
                We offer our customers the best customer service in the industry.
                Not only do we offer a guarantee on our products,
                we offer our customers around the clock support before, during,
                and after the sale. We will work with you before the sale to ensure you find the right products for your needs,
                we work with you during the sale to give you a smooth purchase process,
                and we work with you after the sale to make sure your software is installed and registered without any issues.
                This is the 360 Degree GetMsOffice Guarantee.
                We appreciate our customers and believe in the products we sell,
                so you will always have the best experience possible.
                <br/><br/>
                At GetMsOffice, we are proud to be Microsoft Certified Partner.
                It means we can offer you the best service and bring you the best value on genuine Microsoft products every day.
                When you couple that with our superior customer service, our skilled customer service team,
                and the lowest prices anywhere on genuine Microsoft products,
                there’s no better choice for your software needs.
                When you are looking for Microsoft products,
                trust GetMsOffice to be your one-stop for all of the best Microsoft products at the best prices.
                </p>

          </div>

          </div>
  </div>

  <div class="mobile-only relative" style="margin-top: 145px; margin-bottom: 152px; padding: 0 10px;">
    <div class="bg-cover lazy" style="background-image: url('{{ 'mcp-rectangle.png' | asset_img_url: 'master' }}');
    height: 350px; margin-bottom: 56px;"></div>
    <h4 class="dark-blue" style="font-size: 25px; padding: 0 42px; margin-bottom: 45px;">Microsoft Certified Partner</h4>
    <div class="light-grey absolute" style="width: 80%; height: 394px; z-index: -1; top: 65%; left: 20%;"></div>
      <p class="sm-font" style="line-height: 35px;">GetMsOffice is a Microsoft Certified Partner.
        What does that mean for you, our valued customer?
        It means that we sell genuine Microsoft products and that you have the full backing that comes with owning genuine Microsoft products.
        It also means that Microsoft has certified that we are official,
        trustworthy, and recommended sellers of Microsoft products and services.
        For this reason, you can trust GetMsOffice with all of your Microsoft purchases,
        secure in the knowledge that we have partnered with Microsoft to bring you the best prices on genuine Microsoft products.</p>
  </div>

  <div class="desktop-only">{% include 'newsletter-subscription' %}</div>

  <div class="mobile-only" style="padding: 0 10px;">
    <h4 class="dark-blue"
    style="font-size: 25px; padding: 0 52px; margin-bottom: 50px; line-height: 35px;">
    Trust GetMsOffice for the Best Software and Service Anywhere</h4>

    <p class="sm-font" style="line-height: 35px;">GetMsOffice goes even further.
      We offer our customers the best customer service in the industry.
      Not only do we offer a guarantee on our products,
      we offer our customers around the clock support before, during,
      and after the sale. We will work with you before the sale to ensure you find the right products for your needs,
      we work with you during the sale to give you a smooth purchase process,
      and we work with you after the sale to make sure your software is installed and registered without any issues.
      This is the 360 Degree GetMsOffice Guarantee.
      We appreciate our customers and believe in the products we sell,
      so you will always have the best experience possible.
      <br/><br/>
      At GetMsOffice, we are proud to be Microsoft Certified Partner.
      It means we can offer you the best service and bring you the best value on genuine Microsoft products every day.
      When you couple that with our superior customer service, our skilled customer service team,
      and the lowest prices anywhere on genuine Microsoft products,
      there’s no better choice for your software needs.
      When you are looking for Microsoft products,
      trust GetMsOffice to be your one-stop for all of the best Microsoft products at the best prices.
      </p>
    </div>

</section>
